# Folder
.vscode/

opencl/env/bin
opencl/env/build-win-x86
opencl/env/build-android-armv7

vulkan/env/bin
vulkan/env/build-win-x86
vulkan/env/build-android-armv7

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug
tests/*.log
