[submodule "sglang"]
	path = sglang
	url = https://github.com/cjmcv/sglang.git
[submodule "lighteval"]
	path = lighteval
	url = https://github.com/cjmcv/lighteval.git
[submodule "cutlass"]
	path = cutlass
	url = https://github.com/cjmcv/cutlass.git
